<%= render "search" %>
<% if !@artists.blank? %>

	<h1><%= show_country(@summary) %> Top Artists</h1>

	<table width="100%">
		<% @artists.each do |artist| %>
			<tr>
				<td><%= artist['name'] %></td>
				<td><%= link_to image_tag(artist['image'].first['#text'], alt: "more info"), artist_path(artist['name']) %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="2"><%= paginate(@summary) %></td>
		</tr>
	</table>
<% end %>
