<%= render "search" %>
<% if !@tracks.blank? %>
	<h1><%= show_artist(@summary) %> Top Tracks</h1>

	<table width="100%">
		<% @tracks.each do |track| %>
			<tr>
				<td>#<%= track["@attr"]['rank'] %></td>
				<td><%= track['name'] %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="2"><%= pagination_element(@summary) %></td>
		</tr>
	</table>
<% end %>
